<html>
<body>
<h3>Hi ${userName}, welcome to the Globe Images!</h3>

<div>
    Please confirm your email address by click <a href="http://localhost:9090/active?code=${code}">Confirm</a>.
</div>
</body>
</html>
