@import "variables";
@import "mixin";

// reset tag style
html, body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: $basic-font-size;
    color: $gray-darker;
}
body {
    padding: $unit-width $unit-width*1.5;
    min-width: 1024px;
}
ul,dl {
    list-style: none;
    padding: 0;
    margin: 0;
}

// define class style
.info{
    color: $color-info;
}
.warning{
    color: $color-warning;
}
.error{
    color: $color-danger;
}

.logo {
    background-image: url("../img/logo.jpeg");
    background-position: center;
    background-size: cover;
    width: 39px;
    height: 39px;
}

.center {
    @include center();
}
