@import "compass/css3";
@import "compass/utilities";
@import "compass/typography";

//basic color
$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 33.5%); // #555
$gray-light:   lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee

$color-primary: #428bca;
$color-success: #5cb85c;
$color-info:    #5bc0de;
$color-warning: #f0ad4e;
$color-danger:  #d9534f;

//customer color
$theme-color: $color-primary;
$basic-font-size: 14px;
$basic-width: 10px;
$border-gray: #ccc;

