@import "basic/variables.scss";
@import "basic/common.scss";

.content {
    margin: 80px auto 80px;
    width: 400px;
}
.login-header {
    position: relative;
    padding-left: 39px;
    margin-bottom: $basic-width*2;
    .logo {
        position: absolute;
        left: 0;
        top: 0;
        width: 39px;
        height: 39px;
        background-color: red;
    }
    h1 {
        text-align: center;
        text-shadow: 0 1px 1px #111;
    }
}


.form-login {
    border: 2px solid #ccc;
    padding: $basic-width*2;
    @include border-radius(5px);
    .signin-heading {
        font-size: 1.3rem;
        text-align: center;
        margin-bottom: 30px;
    }
    .form-control {
        font-size: 1rem;
        height: auto;
        padding: 10px;
    }
    button {
        margin-top: $basic-width*3;
        margin-bottom: $basic-width*1.5;
    }
}
