.picInfo{
    width:200px;
    height: 300px;
    display: block;
    float: left;
}

.picInfo img{
    width:170px;
    height: 200px;
}

.featured-picture{
    margin: 20px auto 20px;
    float: left;
}

.new-picture{
    margin:20px auto 20px;
    float: left;
}
