.picInfo{
    width:200px;
    height: 300px;
    display: block;
    float: left;
}

.picInfo img{
    width:170px;
    height: 200px;
}

.featured-picture{
    width:1000px;
    margin: 0 auto;
    float: left;
}

.new-picture{
    width: 1000px;
    margin:0 auto;
    float: left;
}

.uploaded-picture{
    width: 1000px;
    margin: 0 auto;
    float: left;
}

.purchased-picture{
    width: 1000px;
    margin: 0 auto;
    float: left;
}
