html, body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #222222;
}

body {
  padding: 10px 15px;
  min-width: 1024px;
}

ul, dl {
  list-style: none;
  padding: 0;
  margin: 0;
}

.info {
  color: #5bc0de;
}

.warning {
  color: #f0ad4e;
}

.error {
  color: #d9534f;
}

.logo {
  background-image: url("../img/logo.jpeg");
  background-position: center;
  background-size: cover;
  width: 39px;
  height: 39px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

html, body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #222222;
}

body {
  padding: 10px 15px;
  min-width: 1024px;
}

ul, dl {
  list-style: none;
  padding: 0;
  margin: 0;
}

.info {
  color: #5bc0de;
}

.warning {
  color: #f0ad4e;
}

.error {
  color: #d9534f;
}

.logo {
  background-image: url("../img/logo.jpeg");
  background-position: center;
  background-size: cover;
  width: 39px;
  height: 39px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.logo-box {
  position: relative;
  padding-left: 79px;
}
.logo-box .logo {
  position: absolute;
  left: 0;
  top: 0;
  width: 69px;
  height: 69px;
}
.logo-box h1 {
  text-align: center;
  text-shadow: 0 1px 1px #111;
}

header {
  height: 80px;
  border-bottom: 1px solid #ccc;
  position: relative;
}
header ul.nav {
  right: 10px;
  overflow: visible;
}
header li.split {
  border-left: 1px solid #ccc;
  width: 1px;
  height: 80px;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
}
header i {
  text-align: center;
  display: block;
  margin: 0 auto 10px;
}
header .user-img {
  width: 30px;
  height: 30px;
  display: block;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  background-image: url("../img/logo.jpeg");
  background-position: center;
  background-size: cover;
}
header .login-user:hover .user-profile {
  display: block;
}
header .user-profile {
  display: none;
  position: absolute;
  z-index: 2;
  top: 100%;
  right: 0;
  background-color: #ffffff;
  border: 1px solid #ccc;
}
header .user-profile a {
  display: block;
}

html, body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #222222;
}

body {
  padding: 10px 15px;
  min-width: 1024px;
}

ul, dl {
  list-style: none;
  padding: 0;
  margin: 0;
}

.info {
  color: #5bc0de;
}

.warning {
  color: #f0ad4e;
}

.error {
  color: #d9534f;
}

.logo {
  background-image: url("../img/logo.jpeg");
  background-position: center;
  background-size: cover;
  width: 39px;
  height: 39px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

main .category {
  border-bottom: 1px solid #ccc;
}
main .category h3 {
  margin: 20px auto;
}

.items .column {
  display: inline-block;
}
.items > li {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
.items > li .checker {
  margin: auto;
  width: 30px;
  vertical-align: middle;
}
.items > li .image-info {
  vertical-align: middle;
  width: 400px;
  margin-right: 10px;
}
.items > li .image-info .img {
  margin: auto 10px;
  width: 100px;
  height: 100px;
}
.items > li .image-info .infos dt, .items > li .image-info .infos dd {
  float: left;
}
.items > li .image-info .infos dt {
  margin-right: 10px;
  clear: left;
}
.items > li .price {
  font-size: 1.3rem;
}

.totals {
  margin: 20px auto;
  font-size: 1.4rem;
}
